import('methods')
import('ggplot2')
import('grid')
import('rJava')
importFrom("stats", "complete.cases")
importFrom("utils", "data")


export(util_setCredentials)
export(util_cleanCredentials)
export(util_plot2d)
export(util_plot2df)
export(util_line2d)
export(util_ggplot)
export(util_plotDensity)
export(util_plotTheme)
export(util_multiplot)
export(util_POSIXTimeToDate)
export(util_dateToPOSIXTime)
export(util_summary)
export(util_colorScheme)
export(util_fillScheme)
export(util_getComputeTime)

exportClass(portfolio)
exportClass(optimizer)
exportClass(portfolioPlot)
exportMethods(show,plot)

export(portfolio_availableSymbols)
export(portfolio_startBatch)
export(portfolio_endBatch)
export(portfolio_getSettings)
export(portfolio_addPosition)
export(portfolio_create)
export(portfolio_alpha)
export(portfolio_beta)
export(portfolio_create)
export(portfolio_settings)
export(portfolio_CVaR)
export(portfolio_kurtosis)
export(portfolio_modifiedSharpeRatio)
export(portfolio_profit)
export(portfolio_removePosition)
export(portfolio_return)
export(portfolio_expectedReturn)
export(portfolio_sharpeRatio)
export(portfolio_starrRatio)
export(portfolio_skewness)
export(portfolio_symbols)
export(portfolio_treynorRatio)
export(portfolio_value)
export(portfolio_VaR)
export(portfolio_variance)
export(portfolio_jensensAlpha)
export(portfolio_informationRatio)
export(portfolio_maxDrawdown)
export(portfolio_calmarRatio)
export(portfolio_omegaRatio)
export(portfolio_rachevRatio)
export(portfolio_gainVariance)
export(portfolio_lossVariance)
export(portfolio_downsideVariance)
export(portfolio_upsideVariance)
export(portfolio_expectedDownsideReturn)
export(portfolio_expectedUpsideReturn)
export(portfolio_sortinoRatio)
export(portfolio_upsideDownsideVarianceRatio)
export(portfolio_gainLossVarianceRatio)
export(portfolio_downCaptureRatio)
export(portfolio_upCaptureRatio)
export(portfolio_downNumberRatio)
export(portfolio_upNumberRatio)
export(portfolio_downPercentageRatio)
export(portfolio_upPercentageRatio)
export(portfolio_hurstExponent)
export(portfolio_fractalDimension)
export(portfolio_moment)
export(portfolio_cumulant)
export(portfolio_pdf)
export(portfolio_txnCosts)

export(position_alpha)
export(position_beta)
export(position_correlation)
export(position_covariance)
export(position_correlationMatrix)
export(position_covarianceMatrix)
export(position_CVaR)
export(position_kurtosis)
export(position_modifiedSharpeRatio)
export(position_price)
export(position_profit)
export(position_quantity)
export(position_return)
export(position_returnAutocovariance)
export(position_expectedReturn)
export(position_setQuantity)
export(position_sharpeRatio)
export(position_starrRatio)
export(position_skewness)
export(position_treynorRatio)
export(position_value)
export(position_VaR)
export(position_variance)
export(position_weight)
export(position_jensensAlpha)
export(position_informationRatio)
export(position_maxDrawdown)
export(position_calmarRatio)
export(position_omegaRatio)
export(position_rachevRatio)
export(position_gainVariance)
export(position_lossVariance)
export(position_downsideVariance)
export(position_upsideVariance)
export(position_expectedDownsideReturn)
export(position_expectedUpsideReturn)
export(position_sortinoRatio)
export(position_upsideDownsideVarianceRatio)
export(position_gainLossVarianceRatio)
export(position_downCaptureRatio)
export(position_upCaptureRatio)
export(position_downNumberRatio)
export(position_upNumberRatio)
export(position_downPercentageRatio)
export(position_upPercentageRatio)
export(position_hurstExponent)
export(position_fractalDimension)
export(position_moment)
export(position_cumulant)
export(position_pdf)
export(position_returnJumpSize)
export(position_txnCosts)

export(optimization_goal)
export(optimization_forecast)
export(optimization_constraint_portfolioValue)
export(optimization_constraint_allWeights)
export(optimization_constraint_beta)
export(optimization_constraint_CVaR)
export(optimization_constraint_expectedReturn)
export(optimization_constraint_modifiedSharpeRatio)
export(optimization_constraint_return)
export(optimization_constraint_sharpeRatio)
export(optimization_constraint_starrRatio)
export(optimization_constraint_sumOfAbsWeights)
export(optimization_constraint_VaR)
export(optimization_constraint_variance)
export(optimization_constraint_weight)
export(optimization_run)
export(optimization_info)